<!doctype html>
<html>
<head>
	<title>Bit Worker</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Currently Unavailable</h1>
        </div>
    </div>
</body>
</html>