/*------------------------------
 * Copyright 2014 Pixelized
 * http://www.pixelized.cz
 *
 * Freelancer theme v1.1
------------------------------*/
/*------------------------------
	BLOG
------------------------------*/
span{
padding-left: 15px;
}
